.dotArrow {
  margin: 0 1rem;
  max-height: 1rem;
}

@media (min-width: 768px) {
  .schoolName {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
  .dotArrow {
    transform: rotate(90deg);
    margin: 1rem 0;
    max-width: 1rem;
    max-height: none;
  }
}

.logos {
  @apply flex;
  @apply justify-center;
  @apply items-center;
}

.logos img {
  max-height: 80px;
  width: auto;
  max-width: 50vw;
}
.logos *:not(:last-child) {
  @apply mr-2
}