.progress {
  height: 4px;
}

.progress > * {
  height: 100%;
  @apply bg-primary
}

.img {
  transition: all .2s;
  height: 190px;
  clip-path: polygon(0% 0%,100% 0%,100% 85%,0% 100%);
  @apply w-full;
  @apply object-cover;
  @apply bg-gray-200
}